@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  box-sizing: border-box;
}

.main-grid {
  min-height: 100vh !important;
}

body main .main-grid {
  display: grid;
  grid-template: 200px 1fr/350px 1fr;
  font-family: "Lato", sans-serif;
}
body main .main-grid > div {
  padding: 1.5rem;
}
body main .main-grid .sidebar {
  z-index: 1;
  grid-area: 1/1/-1/2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #3b82f6;
  color: white;
}
body main .main-grid .sidebar .sidebar-logo {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 0.5rem;
}
body main .main-grid .sidebar .sidebar-logo h2 {
  font-weight: bold;
  font-size: 2rem;
}
body main .main-grid .sidebar .sidebar-tabs, body main .main-grid .sidebar .sidebar-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
}
body main .main-grid .sidebar .sidebar-tabs .sidebar-tab, body main .main-grid .sidebar .sidebar-options .sidebar-tab {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
body main .main-grid .sidebar .sidebar-tabs .sidebar-tab p, body main .main-grid .sidebar .sidebar-options .sidebar-tab p {
  font-size: 1.5rem;
  font-weight: bold;
}
body main .main-grid .header {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding-inline: 3rem;
  box-shadow: 0 10px 10px 0 black;
}
body main .main-grid .header .header-top {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 3rem;
}
body main .main-grid .header .header-top .header-top-search {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  gap: 1rem;
}
body main .main-grid .header .header-top .header-top-search input {
  height: 45px;
  max-width: 50rem;
  border-radius: 20px;
  padding-inline: 1rem;
  border-color: rgba(184, 184, 184, 0.3);
  background-color: rgba(184, 184, 184, 0.3);
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}
body main .main-grid .header .header-top .header-top-account {
  display: grid;
  grid-template-columns: 35px repeat(2, auto);
  gap: 2rem;
  align-items: center;
}
body main .main-grid .header .header-top .header-top-account .account-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: yellow;
}
body main .main-grid .header .header-top .header-top-account .account-icon img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
body main .main-grid .header .header-top .header-top-account .account-name {
  font-size: 1.5rem;
  font-weight: bold;
}
body main .main-grid .header .header-bottom {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: end;
}
body main .main-grid .header .header-bottom .header-bottom-account {
  display: grid;
  grid-template: 40px 40px/80px auto;
  column-gap: 1rem;
}
body main .main-grid .header .header-bottom .header-bottom-account .account-icon {
  grid-area: 1/1/3/2;
  border-radius: 50%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .main-grid .header .header-bottom .header-bottom-account .account-icon img {
  width: 80%;
  height: 80%;
}
body main .main-grid .header .header-bottom .header-bottom-account .account-greeting {
  align-self: end;
  margin-bottom: 5px;
}
body main .main-grid .header .header-bottom .header-bottom-account .account-name {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
body main .main-grid .header .header-bottom .header-bottom-utils {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  gap: 1rem;
}
body main .main-grid .header .header-bottom .header-bottom-utils button {
  padding: 0.6rem 2.4rem;
  border: none;
  border-radius: 20px;
  background-color: #5392f7;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
body main .main-grid .main-content {
  display: grid;
  grid-template-columns: 1fr 300px;
  background-color: rgba(236, 235, 235, 0.767);
}
body main .main-grid .main-content .live-feed-column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
body main .main-grid .main-content .live-feed-column .announcements h3, body main .main-grid .main-content .live-feed-column .trending h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
body main .main-grid .main-content .live-feed-column .announcements .announcements-wrapper, body main .main-grid .main-content .live-feed-column .announcements .trending-wrapper, body main .main-grid .main-content .live-feed-column .trending .announcements-wrapper, body main .main-grid .main-content .live-feed-column .trending .trending-wrapper {
  display: grid;
  grid-template-rows: auto;
  padding: 2rem;
  margin-top: 1rem;
  background-color: white;
  border-radius: 10px;
}
body main .main-grid .main-content .live-feed-column .announcements .announcements-wrapper .announcement, body main .main-grid .main-content .live-feed-column .announcements .trending-wrapper .announcement, body main .main-grid .main-content .live-feed-column .trending .announcements-wrapper .announcement, body main .main-grid .main-content .live-feed-column .trending .trending-wrapper .announcement {
  display: grid;
  gap: 5px;
}
body main .main-grid .main-content .live-feed-column .announcements .announcements-wrapper .announcement:not(:last-child), body main .main-grid .main-content .live-feed-column .announcements .trending-wrapper .announcement:not(:last-child), body main .main-grid .main-content .live-feed-column .trending .announcements-wrapper .announcement:not(:last-child), body main .main-grid .main-content .live-feed-column .trending .trending-wrapper .announcement:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
}
body main .main-grid .main-content .live-feed-column .announcements .announcements-wrapper .announcement:not(:first-child), body main .main-grid .main-content .live-feed-column .announcements .trending-wrapper .announcement:not(:first-child), body main .main-grid .main-content .live-feed-column .trending .announcements-wrapper .announcement:not(:first-child), body main .main-grid .main-content .live-feed-column .trending .trending-wrapper .announcement:not(:first-child) {
  padding-top: 1rem;
}
body main .main-grid .main-content .live-feed-column .announcements .announcements-wrapper .announcement .announcement-title, body main .main-grid .main-content .live-feed-column .announcements .trending-wrapper .announcement .announcement-title, body main .main-grid .main-content .live-feed-column .trending .announcements-wrapper .announcement .announcement-title, body main .main-grid .main-content .live-feed-column .trending .trending-wrapper .announcement .announcement-title {
  font-weight: bold;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
